:root {
  --base: #191724;
  --overlay: #26233a;
  --text: #e0def4;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --love: #eb6f92;
  --subtle: #908caa;
  --gold: #f6c177;
  --iris: #c4a7e7;
}

* {
  background-color: var(--base);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header,.footer {
  height: 50px;
  width: 100%;
  background-color: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 30px;
  font-weight: lighter;
}

.content {
  display: flex;
  .calculator {
    .screen {
      height: 10vh;
      background-color: var(--gold);
      color: black;
    }
    .digits {
    }
    .operators {
      display: flex;
      justify-content: space-around;
    }
  }
}
